//*** VARIABLES
$blockpadding: 0 2rem !default;
$blockmargin: 1rem auto 0 !default;
$titlemargin: .5rem 0 !default;

//*** CORE/BUTTON
$icons: (
	"arrow-right-alt": "\f344",
	"arrow-right-alt2": "\f345",
	"arrow-left-alt": "\f340",
	"arrow-left-alt2": "\f341",
	"clock": "\f469"
) !default;

@each $name, $value in $icons {

	.has-icon-#{$name} {

		.wp-block-button__link::before,
		.wp-block-button__link::after {

			display: none;
			font-family: 'dashicons';
			font-size: 20px;
			vertical-align: middle;
		}

		&.has-left-icon {

			.wp-block-button__link::before {
				
				display: inline-block;
				content: $value;
				padding-right: 8px;
			}
		}

		&.has-right-icon {

			.wp-block-button__link::after {

				position: relative;
				display: inline-block;
				content: $value;
				right: 0;
				padding-left: 8px;
				transition: right .25s ease-in-out;
			}
		}

		&:hover {

			.wp-block-button__link::after {

				right: -6px;
			}
		}
	}
}

//*** NOOR/BULLET-POINT
.noor-block-bullet-point {
	display: flex;
	width: 100%;

	&.has-align-center {

		justify-content: center;
	}

	&.has-align-right {

		justify-content: flex-end;
	}

	&.has-align-left {

		justify-content: flex-start;
	}
	
	&__point {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 87px;
		height: 87px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__text-content {

		margin: 0 !important;
	}
}

//*** NOOR/GOOGLE-MAP
.noor-block-google-map {
	position: relative;
	// width: 100%;
	// padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	
	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		border: 0 !important;
	}
}