/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 //*** Accordion block
 .noor-block-accordion {

	&__content {
		display: none;
		height: auto;
		max-height: 100%;
	}

	&[aria-expanded="true"] + &__content {
		display: block;
	}
}