$blockpadding: 0 2rem !default;
$blockmargin: 1rem auto 0 !default;
$titlemargin: .5rem 0 !default;

.noor-block-accordion {

	$self: &;

	display: flex;
	align-items: center;
	padding: $blockpadding;
	margin: $blockmargin !important;

	&__title {

		width: 100%;
		margin: $titlemargin !important;	
	}

	&__icon {
		
		&[data-state="true"] {

			display: block;
		}

		&[data-state="false"] {

			display: none;
		}
	}

	&__content {
		
		height: 0;
		padding: $blockpadding;
		overflow: hidden;
	}

	&[aria-expanded="true"] + #{$self}__content {

		height: auto;
	}
}
