$blockpadding: 0 30px !default;
$blockmargin: 1rem auto 0 !default;
$titlemargin: .5rem 0 !default;

.noor-block-accordion {

	$self: &;

	display: flex;
	align-items: center;
	padding: $blockpadding;
	margin: $blockmargin !important;

	&__title {
		width: 100%;
		margin: $titlemargin !important;	
	}

	&__icon {

	}

	&__content {
		
		height: 0;
		margin: 0 auto !important;
		overflow: hidden;
	}
}
